.navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
    margin-bottom: 50px;
    margin-top: 20px;
}
.navbar-logo {
    width: 60px;
    height: 60px;
}
.logo {
    width: 100%;
}
.navbar__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: start;
    gap: 60px;
    font-size: 20px;
}
.navbar__item > a {
    text-decoration: none;
    color: gray;
    transition: 0.8s;
}
.navbar__item > a:hover {
    color: cyan;
    transition: 0.8s;
}
.navbar__item .active {
    color: cyan;
}
